<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/index.css">
    <head>
        <link rel="shortcut icon" href="https://img.icons8.com/plasticine/2x/books.png" type="image/png">
    </head>
    <title>{{ title }}</title>
</head>